.homecontent {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    justify-content: center;
    align-items: center;
}

.messagecontent h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: #000000;
    padding: 0;
    margin: 0;
    margin-top: 75px;
    margin-bottom: 30px;
}

.messagecontent p {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.listingform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 22px;
    background: rgb(34,151,195);
    background: linear-gradient(0deg, rgba(34,151,195,1) 0%, rgba(45,185,253,1) 100%);
    box-shadow:  -20px 20px 60px #b1b1b1,
             20px -20px 60px #ffffff;
    width: 70%;
    text-align: center;
    padding: 50px;
}

.listingform label {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    margin-right: 0px;
    margin-bottom: 50px !important;
    margin-left: 10px;
}

.listingform input {
    margin-top: 30px;
    margin-bottom: 50px !important;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    align-self: center;
    border-radius: 5px;
    border: 1px solid rgb(26, 26, 26);
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    cursor: pointer;
    font-weight: normal;
    width: 200px;
    font-size: 1.3em;
}

.description input {
    width: 500px;
}

.imageupload input {
    width: 500px;
}

.lisitngform input:hover {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.listingsubmit input {
    color: #000000 !important;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.listingsubmit input:hover{
    color: #fff !important;
    width: 300px;
    background-color: #4b4b4b75;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    font-weight: bold;
}

.imageupload input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}
  
.imageupload input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}