.navbar {
    align-items: center !important;
    justify-content: center !important;
    justify-items: center;
    justify-self: center;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    font-family: Montserrat, sans-serif;
    position: static;
    color: #000000;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: auto;
    /* z-index: -10; */
    height: 75px;
    border-radius: 61px;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,133,253,1) 100%);
    box-shadow: inset -41px -41px 92px #d3d3d3,
                inset 41px 41px 92px #ededed;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    left: 50%;
}

.navbar a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    padding: 25px;

}

.navbar a:hover {
    background-color: #6a6a6a1a;
    color: #000000;
    border-radius: 61px;
}

.navbar a.active {
    background-color: #cdcdcd;
    color: #000000;
    font-weight: bold;
}

.navbar a.active:hover {
    background-color: #cdcdcd;
    color: #404040;
}

.navbar input{
    text-align: center;
    align-self: center;
    border-radius: 5px;
    border: 1px solid rgb(26, 26, 26);
    background-color: transparent;
    margin: 10px;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.navbar input:focus {
    outline: 1px solid rgb(0, 0, 0);
}

.navbar input:hover{
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}