html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(110, 110, 110);
    text-align: center;
    padding: 10px;
    width: 100%;
}

body{
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
}


a {
    color: blue;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


input {
    border-radius: 5px;
    border-color: #ccc;
    box-shadow: none;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-bottom: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    padding: 0%;
    overflow: hidden;
    background-color: rgb(110, 110, 110);
    position: fixed;
    top: 0;
    width: 120%;
    padding-bottom: 10px;
    align-items: left;
}

.navbar a {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}


.content {
    margin-left: 10%;
    padding: 1px 16px;
}

.header {
    background-color: rgb(110, 110, 110);
    color: white;
    width: 100%;
    padding: 0px;
    padding-right: 10px;
}

button {
    background-color: #808080;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
    width: 200px;
    height: 100px;
    border-radius: 10px;
}